.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: 0;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    padding: 0 15px 0 15px;
}

.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;

}

.logol {
    color: #2E2F42;
}

.navigation {
    display: flex;
    column-gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;
    margin-right: 332px;
}

.navigation a {
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    color: #2E2F42;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding: 24px 0 24px;
    }

.navigation .link:hover,
.navigation .link:focus
{
    color: #404BBF;
    text-decoration: none;
}

.navigation .link:active {
   color: #404BBF;
   text-decoration: underline;
}

.address {
    font-style: normal;
}


.contacts {
    display: flex;
    column-gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contacts a {
    font-weight: 400;
        line-height: 1.5;
        font-size: 16px;
        color: #434455;
        text-decoration: none;
        letter-spacing: 0.02em;

}

.contacts .link:hover,
.contacts .link:focus
{
    color: #404BBF;
    text-decoration: none;
}

/* SECTION ONE */

.openingh {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    border-style: none;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    
}
.opening {
        text-align: center;
        color: #FFFFFF;
        background-color: #2E2F42;
        height: 600px;
        padding: 188px 0 188px;

}
.button {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: #FFFFFF;
        background-color: #4D5AE5;
        cursor: pointer;
        letter-spacing: 0.04em;
        min-width: 169px;
        height: 56px; 
        border: none;
        display: block;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
        align-items: center;
        justify-content: center;
        
}

.button:hover,
.button:focus
{
    background-color: #404BBF;
}

/* SECTION TWO */
.contents {
    padding: 120px 0 120px 0;
}

.content {
    display: flex;
    gap: 24px;
    width: 1128px;
    }

.content li {
    width: 264px;
}

.teamh {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 32px;
    margin-bottom: 8px
}



.teamp {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

}



.contenth {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;
        
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* SECTION THREE */

.team {
    background-color: #F4F4FD;
    font-weight: 1440px;
    height: 732px;
    padding: 120px 0 120px 0;
    
}
.our-teamh {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
    
}

.teamul {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.teamjob {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.divteam {
    padding-top: 32px;
    padding-bottom: 32px;
}

.teamname {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px; 
    text-align: center;
}



.ourteam {
    display: flex;
    gap: 24px;
    padding-left: auto;
    padding-right: auto;
    height: 380px;

}

/* SECTION FOUR */

.portfolio {
    height: 1240px;
    padding: 120px 0 120px 0;
}


.portfolioh {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}

.portfolioul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
    
    }

    .portfolio-li {
    width: calc((100% - 48px) / 3);
    }

    .portfolio-container {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }

    .portfolioname {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
    }
/* FOOTER */

.footer {
    background-color: #2E2F42;
    height: 312px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.footerpr {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
    height: 112px;

}

.logof{
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}


.logolf {
    color: #F4F4FD;
}